/*--
    GENERAL
------------------------------------------------------*/
    html {
        height: 100%;
    }
    
    body {
        font-family: Roboto, Helvetica, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    hr {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        border: .1px solid #e3e3e3;
    }

    .vr {
        border-left: 1px solid rgb(52,50,49);
        margin-left: 5px;
        margin-right: 5px;
    }

    .pointer:hover {
        cursor: pointer;
    }
    
    .sycsFont {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 400;
    }
    
    .sycsFontHeavy {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
    }

    .sycsWhite {
        color: white;
    }

    .sycsWhiteBG {
        background-color: white;
    }

    .grayBase {
        olor: rgb(52,50,49);
    }

    .grayBaseBG {
        background-color: rgb(52,50,49);
    }

    .primary {
        color: rgb(240,150,25);
    }

    .primaryBG {
        background-color: rgb(240,150,25);
    }

    .info {
        color: rgb(112,125,15);
    }

    .infoBG {
        background-color: rgb(112,125,15);
    }

    .warning {
        color: #b4b4b4;
    }

    .warningBG {
        background-color: #b4b4b4;
    }

    .specialist {
        color: rgb(220,110,10);
    }

    .specialistBG {
        color: rgb(220,110,10);
    }

    a.specialist:hover {
        color: rgb(220,110,10);
    }

    .danger {
        color: rgb(255,0,0);
    }

    .dangerBG {
        color: rgb(255,0,0);
    }

    .medSmallText {
        font-size: 90%;
    }

    .textLink {
        color: rgb(112,125,15);
    }

    a.textLink:hover {
        color: rgb(112,125,15);
        text-decoration: underline;
        cursor: pointer;
    }

    .lineLink {
        margin-left: 10px;
        display: inline;
    }

    .lineLinkSites {
        margin-right: 5px;
        display: inline;
    }

    .linkDisabled {
        color: rgb(150,150,150);
    }

    .linkDisabled:hover {
        color: rgb(150,150,150);
    }

    .linkUnderline {
        text-decoration: underline;
    }

    .textBold {
        font-weight: bolder;
    }

    .textLinkBold {
        color: rgb(112,125,15);
        font-weight: bolder;
    }

    a.textLinkBold:hover {
        color: rgb(80,95,5);
        text-decoration: none;
        cursor: pointer;
    }

    a.iconLink:hover {
        color: rgb(150,150,150);
    }

    a.textIcon:active, 
    a.textIcon:hover {
        color: rgb(150,150,150);
        text-decoration: none;
    }

    .fontAwesomeLift {
        vertical-align: 5%;
    }

    .textHeader {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-size: 130%;
        font-weight: 600;
        margin-right: 15px;
    }

    .textHeaderSmall {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
    }

    .paragraphHeader {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
        margin-top: 40px;
    }

    .textLinkHeader {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
        color: rgb(112,125,15);
    }
 
    a.textLinkHeader:hover {
        color: rgb(112,125,15);
        cursor: pointer;
    }

    .btnLink {
        cursor: pointer;
    }

    .btnGrayBase {
        color: white;
        background-color: rgb(52,50,49);
    }

    .inlineBlock {
        display: inline-block;
    }

    .inline {
        display: inline;
    }

    .indent20 {
        margin-left: 20px;
    }

    .indent40 {
        margin-left: 40px;
    }

    .form60W {
        width: 60px;
    }

    .form120W {
        width: 120px;
    }

    .panel {
        padding: 15px;
        margin-bottom: 0;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-top: none;
        box-shadow: none;
    }

    .well {
        padding: 15px;
        margin-bottom: 30px;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-top: none;
        box-shadow: none;
    }

    .borderTop {
        border-top: 1px solid #e3e3e3;
    }

    .border {
        border: 1px solid #e3e3e3;
    }

    .border3sides {
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
    }

    .margTopNeg30 {
        margin-top: -30px;
    }

    .noMargTop {
        margin-top: 0;
    }

    .margTop5 {
        margin-top: 5px;
    }

    .margTop10 {
        margin-top: 10px;
    }

    .margTop15 {
        margin-top: 10px;
    }

    .margTop20 {
        margin-top: 20px;
    }

    .margTop30 {
        margin-top: 20px;
    }

    .margBot0 {
        margin-bottom: 0;
    }

    .margBot5 {
        margin-bottom: 5px;
    }

    .margBot10 {
        margin-bottom: 10px;
    }

    .margBot15 {
        margin-bottom: 15px;
    }

    .margBot20 {
        margin-bottom: 20px;
    }

    .margBot30 {
        margin-bottom: 30px;
    }

    .margTopBot20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .margLeft5 {
        margin-left: 5px;
    }

    .margLeft10 {
        margin-left: 10px;
    }

    .noMargLeftRight {
        margin-left: 0;
        margin-right: 0;
    }

    .margLeftRight5 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .margLeftRight10 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margRight5 {
        margin-right: 5px;
    }

    .margRight10 {
        margin-right: 10px;
    }

    .margRight20 {
        margin-right: 20px;
    }

    .noPadLeft {
        padding-left: 0;
    }

    .noPadRight {
        padding-right: 0;
    }

    .noPadLeftRight {
        padding-left: 0;
        padding-right: 0;
    }

    .pad10 {
        padding: 10px;
    }

    .noBorderLeft {
        border-left-width: 0;
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    @media screen and (max-width: 400px) {

        .xxsInvisBlock {
            display: none;
        }

        .xxsVisBlock {
            display: block;
        }

        .xxsInvisInlineBlock {
            display: none;
        }

        .xxsVisInlineBlock {
            display: inline-block;
        }

    }

    @media screen and (min-width: 401px) {

        .xxsInvisBlock {
            display: block;
        }

        .xxsVisBlock {
            display: none;
        }

        .xxsInvisInlineBlock {
            display: inline-block;
        }

        .xxsVisInlineBlock {
            display: none;
        }

    }

    @media (max-width: 511px) {
        .xxs512Invis {
        display: none;
        }
    }

    @media (max-width: 768px) {
        .xsInvis {
        display: none;
        }

        .xsCenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }

        .smInvisBlock {
        display: none;
        }
    }

    @media (min-width: 768px) {

        .sm-md-lgInvis {
            display: none;
        }

        .smInvisBlock {
            display: block;
        }

    }

/*--
/*--
    AD BANNERS
------------------------------------------------------*/

    .adBanner290x400 {
        width: 290px;
        height: 400px;
        background-color: rgb(210,210,210);
        margin-top: 20px;
    }

    .adBannerText {
        text-align: center;
        height: 100%;
        padding: 30px;
        margin: auto;
    }

    .adBanner970x90 {
        width: 970px;
        height: 90px;
        background-color: rgb(210,210,210);
        margin: 0 auto 30px auto;
    }

    @media screen and (max-width: 767px) {

        .adBanner290x400 {
            margin-bottom: 30px;
            margin-top: 0;
        }
    }

    @media screen and (min-width: 768px) {

        .adBanner290x400 {
            margin-bottom: 0;
            margin-top: 20px;
        }
    }

/*--
/*--
    ADMINISTRATION
------------------------------------------------------*/
    .adminBar {
        background-color: rgb(240,150,25);
        width: 100%;
        padding-top: 6px;
        padding-bottom: 4px;
    }

    .adminHeaderTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
        margin-right: 15px;
    }

    .adminBG {
        background-color: rgb(240,240,240);
    }

    .adminBox {
        border: 1px solid rgb(180,180,180);
        padding: 10px;
    }

    .adminBorder3sides {
        border-right: 1px solid rgb(180,180,180);
        border-bottom: 1px solid rgb(180,180,180);
        border-left: 1px solid rgb(180,180,180);
    }

    .adminSubBox {
        min-height: 40px;
        max-height: 120px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .adminNavbar {
        background-color: white;
    }

    .adminNavbar .navbar-nav li a:hover  {
        color: rgb(150,150,150);
    }

    .adminNavbar .navbar-nav li.active a:hover  {
        background-color: rgb(240,240,240);
    }

    .navbar {
        border: 0 solid transparent;
    }

    @media screen and (max-width: 767px) {

        .adminSearchField {
            max-width: 80%
        }
    }

    @media screen and (min-width: 768px) {

        .adminSearchField {
            width: 500px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media screen and (min-width: 992px) {

        .adminSearchField {
            width: 600px;
        }
    }

/*--
/*--
    MASTHEAD
------------------------------------------------------*/

    .campSquirrelLogo {
        width: 220px;
        padding-top: 0;
        padding-right: 0;
    }

    .masthead {
        background-color: white;
    }

    .masthead object {
        pointer-events: none;
    }

    .mainBars>.icon-bar {
        background-color: rgb(52,50,49);
    }

    #mainNavbar>.navbar-right {
        padding-top: 4px;
    }

    .flagName {
        margin-left: 4px;
    } 

    .flagNameHt {
        padding-top: 1px;
    }

    .flagHt {
        padding-top: 5px;
    }

    .dropdownRule>a:hover {
        color: rgb(150,150,150);
    }

    a.mainSearch:hover {
        color: rgb(150,150,150);
        cursor: pointer;
    }

    @media screen and (max-width: 400px) {

        .campSquirrelLogo {
            padding-left: 10px;
            margin-top: 5px;
        }

        .masthead {
            margin-top: 0;
            margin-bottom: 0;
        }

        .dropdownRule {
            border-top: 1px solid rgb(210,210,210);
        }
    }

    @media screen and (min-width: 401px) {

        .campSquirrelLogo {
            padding-left: 10px;
            margin-top: 6px;
        }

        .masthead {
            margin-top: 0;
            margin-bottom: 0;
        }

        .dropdownRule {
            border-top: 1px solid rgb(210,210,210);
        }
    }

    @media screen and (min-width: 768px) {

        .campSquirrelLogo {
            padding-left: 0;
            margin-top: 1px;
        }

        .masthead {
            margin-top: 15px;
        }

        .dropdownRule {
            border-top: 0;
        }

        .hideSearch {
            display: none;
        }

        a:hover .hideSearch {
            cursor: pointer;
        }
    }

/*--
/*--
    SEARCH BAR
------------------------------------------------------*/

    .searchbarRow {
        margin: 0;
    }

    .searchbarCol {
        padding-left: 0;
        padding-right: 0;
    }

    .searchbarAltCol {
        padding-left: 0;
        padding-right: 0;
    }

    .searchbarAltCol .btn-input {
        display: block;
    }

    .searchbarAltCol .btn-input .btn.form-control {
        text-align: left;
    }

    .searchbarAltCol .btn-input .btn.form-control span:first-child {
        left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        right: 25px;
    }

    .searchbarAltCol .btn-input .btn.form-control .caret {
        margin-top: -1px;
        position: absolute;
        right: 10px;
        top: 50%;
    }

    .searchbarAltCol .btn-group, .input-group {
        margin: 7px 0;
    }

    .btnState {
        border-left: 0;
    }

    .btnAddFilters {
        background-color: rgb(235,235,235);
        margin-right: 6px;
    }

    .keywordField {
        text-overflow: ellipsis;
    }

    .searchResults {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .searchResults h1,
    .searchResults h2,
    .searchResults h3,
    .searchResults h4,
    .searchResults h5,
    .searchResults h6,
    .searchResults p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 767px) {

        .btnAddFiltersGroup {
            margin: 0 0 6px 0;
        }

        .searchbarLink {
            padding-left: 0;
            margin-bottom: 4px;
        }

        .btnAddFiltersKeyword {
            background-color: rgb(235,235,235);
            margin-right: 6px;
        }
    }

    @media screen and (min-width: 768px) {

        .btnAddFiltersGroup {
            margin: 7px 0;
        }

        .searchbarLink {
            padding-left: 0;
        }

        .btnAddFiltersKeyword {
            background-color: rgb(235,235,235);
            margin-right: 6px;
            border-left: 0;
        }
    }

/*--
/*--
    SEARCH FILTERS
------------------------------------------------------*/
    
    #searchFilters .list-group-item:first-child {
        padding-top: 20px;
    }

    .checkbox-inline.no_indent,
    .checkbox-inline.no_indent+.checkbox-inline.no_indent {
        margin-left: 0;
        margin-right: 10px;
    }

    .checkbox-inline.no_indent:last-child {
        margin-right: 0;
    }

/*--
/*--
    CAMPGROUND HEADER BAR
------------------------------------------------------*/

    .headerTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 400;
        color: white;
        margin-right: 15px;
    }

    .cgHeader {
        background-color: rgb(52,50,49);
        width: 100%;
        padding-top: 6px;
        padding-bottom: 4px;
    }

    .icon-bar-white {
        display: block;
        width: 22px;
        height: 2px;
        background-color: white;
        margin: 0 6px 5px 0;
    }

    .underList .panel {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
    }

    .underListItem a:hover,
    .underListItem a:focus {
        color: rgb(150, 150, 150);
        text-decoration: none;
    }

    .underListItem {
        border-top: 1px solid rgb(77,75,73);
        height: 41px;
        background-color: rgb(52,50,49);
    }

    .underListItem a {
        color: white;
    }

    .underListItem p {
        padding: 11px 0 0 15px;
    }

    .underListSubItem {
        background-color: rgb(67,65,63);
        border-top: 1px solid rgb(77,75,73);
    }
    
    .cgBox {
        float: left;
        display: table;
        content: " ";
    }

    .cgIcons {
        list-style-type: none;
        padding: 0;
        display: block;
    }

    .cgIcons li {
        float: right;
    }

    .cgIcons li a {
        color: white;
        display: block;
        padding: 11px 12px 0 0;
        text-decoration: none;
    }

    .cgIcons li a:hover,
    .cgIcons li a:focus {
        color: rgb(150, 150, 150);
    }

    .cgIcons .dropdown-menu {
        float: right;
        left: auto;
        right: 0;
    }

    .cgIcons .dropdown-menu li {
        float: none;
    }

    .cgIcons .dropdown-menu li a {
        color: rgb(52,50,49);
        padding: 4px 20px;
    }

    .social {
        line-height: .5em;
    }

    .starGroup {
        margin-right: 6px;
    }

    .starOn {
        color: rgb(240, 150, 25);
    }

    .starOff {
        color: rgb(130,125,120);
    }

    .starMargTop {
        margin-top: 5px;
    }

    .starOffLight {
        color: rgb(195,195,195);
    }

    .lastStar {
        margin-right: 6px;
    }

    @media screen and (max-width: 991px) {

        .underListItem p {
            width: 750px;
            margin: 0 auto;
        }

        .cgIconsHeader {
            height: 41px;
            color: white;
            background-color: rgb(52,50,49);
            width: 100%;
            border-top: 1px solid rgb(77,75,73);
            padding-bottom: 2px;
        }

        .cgIconsHeader button {
            background-color: transparent;
            border: none;
            padding-top: 12px;
        }

        .cgIconsHeader button:focus {
            outline: none;
        }

        .iconsBoxLUnder {
            float: left;
        }

        .iconsBoxRUnder {
            float: right;
            margin-right: -12px;
        }

        .iconsBoxL {
            display: none;
        }

        .iconsBoxR {
            display: none;
        }
    }

    @media screen and (min-width: 992px) {

        #underList {
            display: none;
        }

        .cgIconsHeader {
            display: none;
        }

        .iconsBoxLUnder {
            display: none;
        }

        .iconsBoxRUnder {
            display: none;
        }

        .iconsBoxL {
            float: left;
        }

        .iconsBoxR {
            float: right;
            margin-right: -12px;
        }
    }

/*--
/*--
    CAMPGROUND OVERVIEW
------------------------------------------------------*/

    #overview {
        padding-left: 0;
        padding-right: 0;
    }

    .showMore {
        margin: 20px 0;
    }

    #overview .subheader {
        margin-top: 20px;
    }

    .overviewTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
    }

    .alert {
        font-weight: 600;
        padding: 0;
        margin-bottom: 0;
    }

/*--
/*--
    CAMPGROUND QUICK INFO
------------------------------------------------------*/

    .quickInfoTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 600;
        color: rgb(112,125,15);
        margin-top: 5px;
    }

    .quickIcon {
        /*--
        color: rgb(112,125,15);
        --*/
        color: rgb(240,150,25);
    }

    .quickIconDisabled {
        color: rgb(200,200,200);
    }

    .quickFont {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-size: 120%;
        font-weight: 600;
        margin: 0 5px;
    }

    .quickIconList {
        list-style-type: none;
        display: block;
        float: left;
        padding-left: 15px;
    }

    .quickIconList li {
        float: left;
        margin-top: 5px;
    }

    .quickIconList li.quickFont {
        margin-top: 3px;
    }

    .quickInfoBox {
        background-color: rgb(240,240,240);
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .quickInfoList {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: 767px) {

        .quickInfoBox {
            margin-top: 0;
        }

        .quickInfoList{
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }

    }

    @media screen and (min-width: 768px) {

        .quickInfoBox {
            margin-top: 20px;
        }

        .quickInfoList{
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }

    }

/*--
/*--
    CAMPGROUND PHOTOS
------------------------------------------------------*/

    #campgroundCarousel .carousel-inner > .item > img {
        margin: 0 auto;
    }

    .carouselWrap {
        border-bottom: 1px solid #e3e3e3;
    }

    .siteThumbBox {
        max-height: 150px;
        padding: 15px;
        margin-bottom: 0;
        border: 1px solid #e3e3e3;
        overflow-x: hidden;
    }

    .siteThumbBox img {
        width: 72px;
        height: 54px;
    }

    .photoDataBox {
        margin-left: 0;
        margin-right: 0;
        height: 40px;
        padding: 0 15px;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
    }

    .photoDataBox form {
        height: 40px;
    }

    .photoDataBoxStretch {
        min-height: 40px;
        padding: 7px 15px 0 15px;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }

    .photoDataBoxReserve {
        padding: 8px 15px;
    }

    .photoBoxListWrap .panel {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
    }

    .photoNavTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 110%;
    }

    .photoNavPhoto {
        font-weight: 400;
    }

    .photoDataBoxNav {
        margin-top: 6px;
    }

    .pointerSmall {
        font-size: 85%;
    }

    .siteNumber {
        width: 80px;
        text-align: center;
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 110%;
        color: rgb(52,50,49);
    }

    .loop {
        padding-top: 2px;
    }

    .photoBoxDate {
        color: rgb(150,150,150);
    }

    .icon-bar-gray {
        display: block;
        width: 22px;
        height: 2px;
        background-color: rgb(52,50,49);
        margin: 0 6px 5px 0;
    }

    .photoBoxIcons {
        list-style-type: none;
        padding: 0;
        float: right;
    }

    .photoBoxIcons li {
        float: right;
    }

    .photoBoxIcons li a {
        padding: 11px 0 0 12px;
        text-decoration: none;
        display: block;
    }

    .photoBoxIcons li a:hover {
        color: rgb(150,150,150);
    }

    .photoBoxIcons .dropdown-menu {
        float: right;
        left: auto;
        right: 0;
    }

    .photoBoxIcons .dropdown-menu li {
        float: none;
    }

    .photoBoxIcons .dropdown-menu li a {
        color: rgb(52,50,49);
        padding: 4px 20px;
    }

    .photoBoxIcons .dropdown-menu li a i.social {
        line-height: .5em;
    }

    .photoBoxList {
        padding-top: 10px;
    }

    .photoBoxList a:hover {
        text-decoration: none;
        color: rgb(150,150,150);
    }

    .photoBoxList a:focus {
        text-decoration: none;
    }

    .photoBoxListItem {
        background-color: rgb(240,240,240);
    } 

    .featuresChangesLink {
        margin-top: 10px;
    }

    .featuresChanges {
        padding: 0;
    }

    @media screen and (max-width: 767px) {

        .photoBoxIcons {
            display: none;
        }

        .photoDataBox button {
            background-color: transparent;
            border: none;
            padding-top: 12px;
        }

        .photoDataBox button:focus {
            outline: none;
        }
    }

    @media screen and (min-width: 768px) {

        .photoBoxListWrap {
            display: none;
        }

        .photoDataBox button {
            display: none;
        }

    }

    @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 767px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

        .container {
        width: 70%;
        }

    }

/*--
/*--
    CAMPGROUND PHOTO NAVIGATION
------------------------------------------------------*/

    .siteListBox {
        margin-bottom: 30px;
        padding: 15px 20px;
        border: 1px solid #e3e3e3;
        overflow-x: hidden;
    }

    .siteList a:hover {
        color: rgb(240,150,25);
        text-decoration: none;
    }

    .thumbBox {
        max-height: 740px;
        padding: 15px;
        margin-bottom: 30px;
        border: 1px solid #e3e3e3;
        overflow-x: hidden;
    }

    .thumbs {
        padding: 0;
        float: left;
    }

    .thumbs img {
        padding: 4px;
    }

    .thumbs img:active {
        border: 4px solid rgb(240,150,25);
        padding: 0;
    }

    .thumbs img:hover {
        -webkit-filter: brightness(70%);
        filter: brightness()70%;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .blank {
        width: 96px;
        height: 72px;
        vertical-align: middle;
        text-align: center;
        line-height: 1.25;
        background-color: rgb(210,210,210);
        margin-left: 4px;
        margin-right: 4px;
        padding-top: 11px;
    }

    .blankText {
        font-size: 13px;
        font-weight: 400;
        color: rgb(120,120,120);
        top: 11px;
    }

    @media screen and (max-width: 767px) {

        .siteList {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }
    }

    @media screen and (min-width: 768px) {

        .siteList {
            max-height: 400px;
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5;
        }
    }

    @media screen and (min-width: 992px) {

        .siteList {
            -webkit-column-count: 6;
            -moz-column-count: 6;
            column-count: 6;
        }
    } 

    @media screen and (min-width: 1200px) {

        .siteList {
            -webkit-column-count: 8;
            -moz-column-count: 8;
            column-count: 8;
        }
    } 

/*--
/*--
    CAMPGROUND PAGE NAVIGATION
------------------------------------------------------*/

    .pageNav {
        background-color: white;
        height: 60px;
        width: 100%;
    }

    .pageNavCol {
        width: 20%;
    }

    .sycsPillWrap {
        padding-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .sycsPillNoBorder {
        border-right: none;
    }

    .sycsPill {
        color: rgb(150,150,150);
        text-align: center;
        background-color: white;
        border-color: #e3e3e3;
        padding: 7px 4px;
        height: 40px;
        border-radius: 0;
    }

    .sycsPill:hover {
        color: rgb(100,100,100);
        border-color: rgb(180,180,180);
        background-color: rgb#e3e3e3;
    }

    .sycsPillActive {
        color: rgb(100,100,100);
        background-color: #e3e3e3;
    }

    @media screen and (max-width: 767px) {

        .pageNav {
            display: none;
        }

    }

    @media screen and (min-width: 768px) {

        #overview::before,
        #photos::before,
        #photoNav::before,
        #reviews::before,
        #map::before {
            display: block;
            content: " ";
            margin-top: -170px;
            height: 170px;
            visibility: hidden;
        }

        .stuck {
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0 2px 6px -2px rgba(0,0,0,0.2);
            z-index: 500; 
        }

    }

    @media screen and (min-width: 992px) {

        #overview::before,
        #photos::before,
        #photoNav::before,
        #reviews::before,
        #map::before {
            margin-top: -129px;
            height: 129px;
        }

    }

/*--
/*--
    CAMPGROUND REVIEWS
------------------------------------------------------*/

    .ratingProgressGroup {
        margin-bottom: 10px;
    }

    .ratingProgress {
        border-radius: 0;
        width: 110px;
        height: 15px;
        margin-bottom: 0;
        margin-right: 12px;
    }

    .ratingProgressBar {
        background-color: rgb(240,150,25);
        border-radius: 0;
    }

    .ratingProgressCheck {
        margin-bottom: 0;
        margin-top: -2px;
        vertical-align: top;
    }

    .ratingProgressCheck input[type=checkbox] {
        margin-left: -17px;
    }

    .reviewBtnLeft {
        margin-top: -4px;
    }

    .reviewHead {
        font-family: Roboto, Helvetica, sans-serif;
        font-size: 130%;
        color: rgb(52,50,49);
        margin-right: 15px;
    }

    .ratingTitle {
        font-size: 130%;
        margin-right: 15px;
        float: left;
    }

    .media img {
        border: 1px solid #e3e3e3;
        margin: 0 auto;
    }

    .media-left {
        text-align: center;
        padding-right: 14px;
    }

    .userWrap {
        width: 110px;
    }

    @media screen and (max-width: 559px) {

        .reviewBtnRight {
            display: none;
        }

        .reviewBtnLeft {
            display: inline-block;
        }

        .reviewBtnLeftBox {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 560px) {

        .reviewBtnRight {
            display: inline-block;
            margin-top: -4px;
        }

        .reviewBtnLeftBox {
            display: none;
        }

        .reviewBtnRightBox {
            margin-bottom: 30px;
        }
    }

/*--
/*--
    CAMPGROUND MAP
------------------------------------------------------*/

    .mapW {
        width: 722px;
    }

    .mapH {
        height: 500px;
    }

    .mapW-xs {
        width: 355px;
    }

    .mapH-xs {
        height: 380px;
    }

    .mapW-xxs {
        width: 290px;
    }

    .map {
        margin-top: 20px;
    }

    @media screen and (max-width: 400px) {

        .map-xxs {
            display: table;
        }

        .map-xs {
            display: none;
        }

        .map-sm-md-lg {
            display: none;
        }
    }

    @media screen and (min-width: 400px) {

        .map-xxs {
            display: none;
        }

        .map-xs {
            display: table;
        }
    }

    @media screen and (max-width: 767px) {

        .map-sm-md-lg {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {

        .map-xxs {
            display: none;
        }

        .map-xs {
            display: none;
        }
    }

/*--
/*--
    HEADERS
------------------------------------------------------*/

    .navbar.navbar-inverse {
        border: none;
    }

    @media screen and (max-width: 767px) {

        .navbar-inverse .active {
            background-color: rgb(67,65,63);
        }

        .navbar-inverse .navbar-brand {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

    }

    @media screen and (min-width: 768px) {

        .navbar-inverse .active {
            border-bottom: 8px solid rgb(240,150,25);
        }

        .navbar-inverse .nav>li>a {
            padding-top: 17px ;
            padding-bottom: 6px;
        }

    }

/*--
/*--
    HEADERS - SUBHEADERS
------------------------------------------------------*/

    .subheadWrap {
        margin-top: 3px;
    }

    .subheader {
        font-family: Helvetica, sans-serif;
        color: white;
        background-color: rgb(112,125,15);
        margin: 0;
        padding: 10px 15px;
    }

    .subheadTitle {
        font-family: "Roboto Slab", Georgia, Helvetica, sans-serif;
        font-weight: 400;
        vertical-align: baseline;
        display: inline;
        color: white;
    }

    .subheadLink {
        color: white;
        vertical-align: baseline;
        display: inline;
    }

    a.subheadLink:hover {
        cursor: pointer;
    }

    a:hover.subheadLink {
        color: white;
        text-decoration: underline;
    }

    .subheader i:hover {
        color: rgb(210,210,210);
    }


/*--
/*--
    HERO CAROUSEL
------------------------------------------------------*/

    #heroCarousel.carousel {
        overflow: hidden;
        width: 100%;
    }

    #heroCarousel .carousel-inner {
        min-width: 600px;
    }

    #heroCarousel .carousel-inner img {
        width: 100%;
    }

    .carouselPromo h2 {
        line-height: 90%;
    }

    .carouselPromo h4 {
        line-height: 95%;
    }

    .carouselPromo h4 a {
        color: rgb(240,150,25);
    }

    .carouselPromo p {
        color: white;
        font-weight: 100;
    }

    .carouselPromo p a {
        color: white;
    }

    @media screen and (max-width: 400px) {

        .carousel-indicators {
            text-align: left;
            margin: 0 auto;
            left: auto;
        }

        .heroCaption {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {

        .carouselPromo h2 {
            font-size: 170%;
            line-height: 120%;
        }

        .carouselPromo h4 {
            font-size: 130%;
            line-height: 120%;
        }

        .carouselPromo p {
            font-size: 90%;
            line-height: 120%;
        }

        .carouselPromo {
            background-color: rgba(52,50,49,0.7);
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 12;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 33px 0 33px;
            display: none;
        }
    }

    @media screen and (min-width: 401px) {

        .carouselPromo {
            background-color: rgba(52,50,49,0.7);
            margin: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            z-index: 12;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 4px 53px 12px 53px;
        }

        .carousel-indicators {
            text-align: left;
            margin: 0 auto;
            left: auto;
        }

        .heroCaption {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {

        .carouselPromo {
            background-color: rgba(52,50,49,0.7);
            margin: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            z-index: 12;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 4px 53px 12px 53px;
        }

        .heroCaption {
            position: absolute;
            left: auto;
            text-align: right;
            bottom: 21px;
            color: white;
            width: 720px;
            z-index: 10;
            text-shadow: 0 1px 2px rgba(0,0,0,.6);
            display: block;
        }

        a.heroCaption:hover {
            text-decoration: underline;
            color: white;
        }
    }

    @media screen and (min-width: 992px) {

        .heroCaption {
            width: 940px;
            font-size: 100%;
        }
    }

    @media screen and (min-width: 1200px) {

        .heroCaption {
            width: 1140px;
        }
    }

/*--
/*--
    LISTS
------------------------------------------------------*/

    .hrList {
        padding: 10px 0;
        border-top: 1px solid #e3e3e3;
    }

    .hrList:last-of-type {
        border-bottom: 1px solid #e3e3e3;
    }

    .counter {
        color: rgb(240,150,25);
    }

    .stateListBox {
        height: auto;
        border-top: 0;
        border-bottom: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        margin-top: 0;
        padding: 15px 20px;
    }

    .stateList a:hover, .parkList a:hover {
        color: rgb(240,150,25);
        text-decoration: none;
    }

    @media screen and (max-width: 767px) {

        .featuresList{
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }

        .stateListBox {
            height: auto;
            border: 0;
            margin-top: 15px;
            padding: 0;
        }

        .stateList {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    @media screen and (min-width: 768px) {

        .featuresList{
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }

        .stateList {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

    @media screen and (max-width: 991px) {

        .parkList, .campgroundList {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }

    @media screen and (min-width: 992px) {

        .featuresList{
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }

        .stateList {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }

        .parkList, .campgroundList {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    } 

    @media screen and (min-width: 1200px) {

        .featuresList{
            -webkit-column-count: 6;
            -moz-column-count: 6;
            column-count: 6;
        }

        .stateList {
            -webkit-column-count: 5;
            -moz-column-count: 5;
            column-count: 5;
        }
    } 

/*--
/*--
    MODALS
------------------------------------------------------*/

    .modal h4,
    .modal h5,
    .modal h6 {
        font-weight: 600;
    }
    .modal .col-sm-1,
    .modal .col-sm-2,
    .modal .col-sm-3,
    .modal .col-sm-4,
    .modal .col-sm-5,
    .modal .col-sm-6,
    .modal .col-sm-7,
    .modal .col-sm-8,
    .modal .col-sm-9,
    .modal .col-sm-10,
    .modal .col-sm-11,
    .modal .col-sm-12 {
        padding-right: 0;
        padding-left: 0;
    }

   .modalCloseSolid {
       opacity: .5;
    }

   .modal .carousel-inner>.item>img  {
       width: 888px;
    }

   #saranacCarouselModal .modal-body {
       padding: 5px;
    }

    @media screen and (min-width: 768px) {

        .modal .col-sm-9 {
            padding-right: 8px;
        }
    }

/*--
/*--
    MY ACCOUNT
------------------------------------------------------*/

    .favorites {
        width: 144px;
        text-align: center;
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .favAddGroup {
        width: 144px;
        height: 108px;
    }

    .favPic {
        position: relative;
    }

    .favPic img:hover {
        -webkit-filter: brightness(70%);
        filter: brightness()70%;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .favPic:hover .deleteFav {
        display: block;
    }

    .deleteFav {
        padding: 7px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    .deleteFav a {
        color: white;
    }

    .deleteFav a:hover {
        color: rgb(150,150,150);
    }

    .favHeader {
        padding: 10px 15px;
        margin-top: 20px;
        border: 1px solid #e3e3e3;
        background-color: rgb(240,240,240);
    }

    .favHeader:hover {
        background-color: rgb(210,210,210);
        cursor: pointer;
    }

    .favBox {
        padding: 10px 15px;
        margin: 0;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }

    .favThumbsBox {
        overflow-y: scroll;
    }

    .favThumbsBox img {
        width: 72px;
        height: 54px;
    }

    .favNote {
        position: relative;
    }

    .favNote p {
        width: 90%;
    }

    .favNoteEdit {
        padding: 15px;
        position: absolute;
        right: 0;
        top: 0;
        color: rgb(150,150,150);
    }

    .favNoteEdit:hover {
        color: rgb(52,50,49);
    }

    .favOpen {
        margin-left: 0;
    }

    .buddySearchbar {
        width: 100%;
        height: auto;
        background-color: rgb(230,230,230);
    }

    .userPhoto {
        position: relative;
    }

    .userPhoto img:hover {
        -webkit-filter: brightness(70%);
        filter: brightness()70%;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .userPhoto:hover .userPhotoUpload {
        display: block;
    }

    .userPhotoUpload {
        position: absolute;
        left: 25px;
        top: 25px;
        color: white;
        display: none;
    }

    .userPhotoUpload a {
        color: white;
    }

    @media screen and (max-width: 767px) {

        .favThumbsBox {
            max-height: 300px;
        }

        .favs-xs {
            display: block;
        }

        .favs-sm-md-lg {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {

        .favThumbsBox {
            height: 268px;
            border-left: none;
        }

        .favs-xs {
            display: none;
        }

        .favs-sm-md-lg {
            display: block;
        }
    }

    @media screen and (min-width: 992px) {

        .favThumbsBox {
            height: 290px;
            border-left: none;
        }
    } 

    @media screen and (min-width: 1200px) {

        .favThumbsBox {
            height: 279px;
            border-left: none;
        }
    }
/*--
/*--
    NARROW PAGES
------------------------------------------------------*/

    .narrowBox {
        max-width: 428px;
        margin: 10px auto 0 auto;
    }
    .narrowBoxHeader {
        text-align: center;
        margin-top: 40px;
    }
    .narrowBoxSubHead {
        margin-top: 5px;
    }
    .narrowTextBold {
        font-weight: 700;
    }
    .narrowBoxLegal {
        text-align: center;
    }
    .addPhotoThumbs {
        position: relative;
        display: inline-block;
        margin-bottom: 4px;
    }
    .editPhoto {
        position: relative;
    }
    .editPhoto a {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .editPhoto img {
        width: 100%;
        height: auto;
        border-top: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
    }
    .addPhotoThumbs img:hover {
        -webkit-filter: brightness(70%);
        filter: brightness()70%;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .addPhotoIcons {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        padding: 7px;
    }
    .addPhotoIcons a {
        color: white;
    }
    .addPhotoIcons a:hover {
        color: rgb(150,150,150);
    }
    .addPhotoThumbs:hover .addPhotoIcons {
        display: block;
    }
    .modal select, .modal input {
        margin-bottom: 8px;
    }

/*--
/*--
    BOXES
------------------------------------------------------*/

    .specialBox {
        color: white;
        background-color: rgb(112,125,15);
        border-top: 0;
        border-radius: 0;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }

    .linkBox {
        width: 290px;
        height: auto;
        text-align: center;
        color: white;
        background-color: rgb(235,235,235);
        border: 1px solid rgb(200, 200, 200);
        margin-top: 20px;
        margin-right: 20px;
        padding: 10px;
        display: inline-block;
    }

    .linkBoxText {
        text-align: center;
    }

/*--
/*--
    TABLES
------------------------------------------------------*/

    .hideTableText200 {
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .tableText300 {
        max-width: 300px;
    }

    .cellW120 {
        width: 120px;
    }

    .tableBox {
        border: 1px solid rgb(180,180,180);
    }

    @media screen and (max-width: 767px) {

        .table-responsive>.table>tbody>tr.sycsWhiteBG>td, 
        .table-responsive>.table>tbody>tr.sycsWhiteBG>th {
            max-width: 600px;
            word-wrap: break-word;
            white-space: normal;
        }
    }
/*--
/*--
    FOOTER
------------------------------------------------------*/

    .wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -205px;
        padding-bottom: 245px;
    }

    footer {
        height: 205px;
        background: rgb(225,225,225);
        padding: 20px 0;
        text-align: center;
        margin-top: 0px;
    }

    footer p.small a {
        color: rgb(112,125,15);
    }

    footer p.small a:hover {
        text-decoration: underline;
    }

    footer ul {
        margin-top: 10px;
    }

    .footerIconsBox {
        padding: 6px 0;
    }

    .footerIcons {
        margin: 0 5px;
        color: rgb(210,210,210);
        background-color: rgb(52,50,49);
        border-width: 0;
    }

    .footerIcons:hover {
        background-color: rgb(150,150,150);
    }

    .horzKeyline {
        border-bottom: solid 1px rgb(180,180,180);
        display: block;
        width: 100%;
        margin: 10px 0 20px 0;
    }
    
/*--